.PlanViewButton
{
   color: aliceblue !important;
   padding: 100px;
}
.planView{

   margin-left: 280px !important;
}
.createButtonDiv{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.white{
   color: white !important;
}
